* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hero {
    background-image: url('obrazky/scott-goodwill.jpg'); 
    background-size: cover;
    background-position: center;
    height: 800px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    background-color: #33292a;
}

.nav-links {
    list-style: none;
    display: none;
}

.nav-links li {
    display: inline-block;
    margin-inline: 50px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.hamburger {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero-content {
    padding: 2rem;
    text-align: right;
}

.hero-content h1 {
    font-size: 80px;
    line-height: 1.3;
    margin: 30px;
    margin-right: 300px;
}

.about-us {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.what-we-do {
    background-color: #3e3838;
    color: white;
    text-align: center;
    padding: 3rem 0;
}

.services-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.service-item i {
    font-size: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.gallery-text-box {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cta-section {
    background-color: #6d4c41;
    color: white;
    padding: 4rem 0;
}

.cta-section p {
    max-width: 600px;
    margin: 1rem auto;
}

.cta-content {
    display: flex;
    gap: 4rem;
    align-items: flex-start;
}

.cta-left h2 {
    font-size: 2.5rem;
    max-width: 300px;
}

.cta-right {
    max-width: 600px;
}

.cta-right p {
    margin-bottom: 1rem;
    line-height: 1.6;
}
.btn {
    display: inline-block;
    background-color: white;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 1rem;
    text-transform: uppercase;
}

.reviews {
    text-align: center;
}


.reviews-grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.reviews-intro {
    max-width: 600px;
    margin: auto;
    font-size: 1rem;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.footer-images {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
}

.footer-images img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

.copyright {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #777;
    font-size: 0.8rem;
}


@media (min-width: 600px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .footer-images {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .services-grid {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .service-item {
        width: 45%;
    }
}

@media (min-width: 900px) {

    .hamburger { display: none; }
    .nav-links { display: block; }

    .about-us {
        flex-direction: row;
        align-items: center;
    }
    .about-text, .about-image {
        flex: 1;
    }

    .services-grid {
        flex-wrap: nowrap;
    }
    .service-item {
        width: auto;
        flex: 1;
    }

    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-images {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .reviews-grid {
        flex-direction: row;
    }
}